<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMP 3278 Face Recognition Sign In Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login_history_style.css') }}">
</head>

<body>
    <div class="login-history-wrapper">
        <div class="left">
            <a class="profile-link" href="{{ url_for('profile', customer_id = data[0]['customer_id']) }}">
                <img src="../static/css/img.jpg" alt="user">
                <h4 class="title text-center mt-4">
                    {{ data[0]['name_first'] }} {{ data[0]['name_last'] }}
                </h4>
            </a>
            <h5>CUSTOMER</h5>
            <h5>(+852 {{ data[0]['phone_numbers'][0] }})</h5>
            <hr class="my-2">
            <div class='login-history-heading'>
                <span class="last-login">Last Login</span>
                <a class="login-history-link"
                    href="{{ url_for('login_history', customer_id = data[0]['customer_id']) }}">
                    <span><i class="fa fa-history"></i></span>
                </a>
            </div>
            <div class="login-info">
                <div>Login Time: {{ data[1][0]['login_time'] }}</div>
                <div>Login Date: {{ data[1][0]['login_date'] }}</div>
            </div>
            <hr class="my-2">
            <div class="address-title">
                <center>ADDRESS</center>
            </div>
            <div class="address">
                <div>
                    <div><u>City</u></div>
                    <div>{{ data[0]['address_city'] }}</div>
                </div>
                <div>
                    <div><u>Street</u></div>
                    <div>{{ data[0]['address_street'] }}</div>
                </div>
                <div>
                    <div><u>Flat Number</u></div>
                    <div>{{ data[0]['address_flat_no'] }}</div>
                </div>
                <div>
                    <div><u>Country</u></div>
                    <div>{{ data[0]['address_country'] }}</div>
                </div>
            </div>
            <h6 class="my-2">member since {{ data[1][-1]['login_date'] }} </h6>
        </div>
        <div class="right">
            <div class="info">
                <h2 class="bold text-center my-3">Login History</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Login Date</th>
                            <th scope="col">Login Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in data[1] %}
                        <tr>
                            <th scope="row">{{ loop.index0 + 1 }}</th>
                            <td>{{ log['login_date'] }}</td>
                            <td>{{ log['login_time'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="bottom-bar my-5">
                <div>
                    <a href="{{ url_for('profile', customer_id = data[0]['customer_id']) }}">
                        <div class="bottom-bar-home text-center">
                            <button type="submit" class="btn btn-block text-uppercase">
                                <span><i class="fa fa-home"></i> HOME </span>
                            </button>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="{{ url_for('account_settings', customer_id = data[0]['customer_id']) }}">
                        <div class="bottom-bar-settings text-center">
                            <button type="submit" class="btn btn-block text-uppercase">
                                Account Settings
                            </button>
                        </div>
                    </a>
                </div>
                <div>
                    <div class="bottom-bar-transactions text-center">
                        <button type="submit" class="btn btn-block text-uppercase">
                            transactions
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (Bootstrap JS plugins depend on it) -->
    <script src="{{ url_for('static', filename = 'js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/index_script.js') }}"></script>
</body>

</html>